/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,
caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,
figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,
legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,
strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,
video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,
aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,
section{display:block}html{line-height:1}body{line-height:inherit}ol,
ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,
q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */
header {
  background: url(../images/background-photo.jpeg) #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

section, header {
  padding: 1.222em 0.916em;
}

footer {
  background-color: #000;
  color: #FFF;
}

h1 {
  display: none;
}

h2 {
  padding: 2.10937em 0 1.2em 0;
  font-size: 1.5275em;
  text-transform: uppercase;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.125em;  
  line-height: 1.222em;
}
/* ===== LAYOUT STYLES ===== */

/* ===== MODULAR STYLES ===== */
#expertise {
  color: white;
  background-color: #000;
}

#biography {
  background-color: #FFF;
}

#contact{
  background-color: #000;
  color: #FFF;
}

#logo-main img {
  height: 25%;
  width: 25%;
}

#subtitle {
  padding-top: 80%;
}

#subtitle li, h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  line-height: 1.222em;
}

#subtitle li:first-child {
  font-size: 1.40625em;
}

#subtitle li:nth-child(2) {
  font-size: 2.109375em;
}

#subtitle li:last-child {
  font-size: 2.531em;
}

/* ===== MEDIA QUERIES ===== */
