/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,
caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,
figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,
legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,
strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,
video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,
aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,
section{display:block}html{line-height:1}body{line-height:inherit}ol,
ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,
q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */
header {
  background: url(../images/background-photo.jpeg) #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

footer {
  background-color: #000;
  color: #FFF;
}

h2 {
  font: "Avenir";
}

/* ===== LAYOUT STYLES ===== */

/* ===== MODULAR STYLES ===== */
#expertise {
  color: white;
  background-color: #000;
}

#biography {
  background-color: #FFF;
}

#contact{
  background-color: #000;
  color: #FFF;
}

#logo-main img {
  height: 30%;
  width: 30%;
}
